/*Comandos para que utilice el alto, ancho de la pagina y fuentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }

@font-face {
    font-family: AlumniSans_Light ;
    src: url('fuentes/Alumni_Sans/static/AlumniSans-Light.ttf');
}
@font-face {
    font-family: AlumniSans_Regular ;
    src: url('fuentes/Alumni_Sans/static/AlumniSans-Regular.ttf');
}
@font-face {
    font-family: AlumniSans_Medium ;
    src: url('fuentes/Alumni_Sans/static/AlumniSans-Medium.ttf');
}

@font-face {
    font-family: Big_Shoulders_ExtraBold;
    src: url('fuentes/Big_Shoulders_Stencil/static/BigShouldersStencil-ExtraBold.ttf');
}    
@font-face {
    font-family: Big_Shoulders_Medium;
    src: url('fuentes/Big_Shoulders_Stencil/static/BigShouldersStencil-Medium.ttf');
}

@font-face {
    font-family: Big_Shoulders_Regular;
    src: url('fuentes/Big_Shoulders_Stencil/static/BigShouldersStencil-Regular.ttf');
}

/*revisar
@font-face {
    font-family: Quantico ;
    src: url('fuentes/Quantico/Quantico-Bold.ttf');
}*/

                                                     /*NAVEGADOR*/

.encabezado {
    width: 100%;
    height: 91px;
    padding: 10px;
    background-color: rgb(255, 161, 84); /*FFA154*/
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia logo a la izquierda y menú a la derecha */
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 30px; /* Separación entre links */
    width: 100%;
}

.login {
    width: 110px;
    margin: 15px;
    border-radius: 5px;
}

.nav {
    font-family: 'Big_Shoulders_ExtraBold';
    font-size: large;
    text-decoration: none; /* Saca el subrayado de los links */
    color: rgb(153, 0 , 33); /* 990021 */
    margin-right: 30px;
}
.nav:hover{
    background-color: rgb(255, 198, 49); /*FFC631*/
    border-radius: 10px;
    border-color: rgb(255, 198, 49); /*FFC631*/
    padding: 10px;
    text-align: center;
}

                                                     /*PIE DE PAGINA*/
.PieDePagina{
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 161, 84); /*FFA154*/
    padding-left: 25px;
    
    display: grid;
    grid-template-rows:repeat(2 , 1fr); 
    grid-template-columns: 300px  1fr;
 
}

.redes{
    font-family: 'AlumniSans_Light';    
    font-size: 16px;
    color: rgb(153, 0 , 33); /* 990021 */
    margin-left: 10%;/*separacion de la derecha, revisar si le ponemos margenes*/

}


.iconos-redes{
    grid-row: 2/3;
    margin-left: 20%;/*separacion de la derecha, revisar si le ponemos margenes*/

    
}
.iconos{
    width:32px;
    height: 32px;
    
}


.iconoswpp{
    width: 24px;
    height: 24px;
    margin: 2.7px;
}


.direc{
    font-family: 'AlumniSans_Medium';
    font-size: 20px;/*tamaño de fuente*/
    color:  rgb(153, 0 , 33);/*990021*/
    text-decoration: none;

    grid-column: 2 / 3;  /* está en la segunda columna */
    grid-row: 1 / 3;     /* ocupa ambas filas */
    justify-self: end;  /*alinea a la derecha horizontalmente*/
    align-self: center;   /* centra verticalmente*/
    
    margin-right: 10%;/*separacion de la izquierda, revisar si le ponemos margenes*/

}



                                                     /*PAGINA DE INICIO*/
.inicio{
 /*sector imagen de fondo*/
    margin-top: 16px;
    background-image: url(fondos/A.jpg);
    background-repeat: no-repeat; /*No repite la imagen.*/
    background-size: cover; 
    background-position: center;
    min-height: 80vh; /* que ocupe toda la pantalla */
    position: relative;


}

.in{
/*sector texto*/
    height: 80vh;
    background: rgb(255, 255, 255) ;
    font-family: 'AlumniSans_Medium';
    font-size: 30px;/*tamaño de fuente*/
    color: #000000;/*color de fuente*/
   
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    opacity: 80%; 
    padding: 40px;
    
}

.prom-opi{
    font-family: 'Big_Shoulders_Regular';
    font-weight: normal;
    color: rgb( 203, 92, 0);/*CB5C00*/
    text-align: left;
    margin-left: 30px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 30px;
    
}



.prom-opi_img{
    width: 300px;
    height: 300px;
    margin-left: 25%;
    
    
}

/*CARRUCEL INICIO*/

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 300px;
    height: 300px;
    margin: 26px auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 280px + 4em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4 {
  display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador li:nth-child(4) .slide-circulo {
  color: #428bca;
}


                                                     /*NOSOTROS*/

.nosotros{
     /*sector imagen de fondo*/
     margin-top: 16px;
     background-image: url(fondos/B.jpg);
     background-repeat: no-repeat; /*No repite la imagen.*/
     background-size: cover; 
     background-position: center;
     min-height: 80vh; /* que ocupe toda la pantalla */
     position: relative;
 
}

.nst{
    /*sector texto*/
    height: 80vh;
    background: rgb(255, 255, 255) ;
    font-family: 'AlumniSans_Medium';
    font-size: 20px;/*tamaño de fuente*/
    color: #000000;/*color de fuente*/
   
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    opacity: 80%; 
    padding: 70px;

}

.elegirnos{
    font-family: 'AlumniSans_Medium';
    font-size: 20px;
    align-items: center;
    justify-content:center; 
    text-align: center;
    padding: 100px;
    
}


                                                     /*SERVICIO*/
.serv {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 20px;
    margin: 40px;
    min-height: 100vh; /* que ocupe toda la pantalla */
    
}


.item_serv img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 25%;
   

    
}

.serv h2{
    font-family: 'Big_Shoulders_Medium';
    font-size: 20px;
    color: #FFB800;
    align-items: center;
    justify-content:center; 
    text-align: center;
}

.serv h3{
    font-family: 'AlumniSans_Light';
    font-size: 16px;
    align-items: center;
    justify-content:center; 
    text-align: center;

}


                                                /*CONTACTO*/
.contacto{
    font-family: 'Big_Shoulders_Regular';
    font-size: 25px;
    align-items: center;
    text-align: center;
}


/* ARMAR EL FORMULARIO*/


.formulario1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding-left: 40px;
    padding: 10px 50px 20px;
}

.form_1{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.form_2{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}


.form_3{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form_4{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3/ 7;
}

.formulario1 label{
    font-family: 'AlumniSans_Medium';
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
}
.formulario1 input{
    border-radius: 5px;
    height: 40px;
    color: #cacaca;
    
}

.formulario1 button{
    width: 160px;
    height: 36px;
    border-radius: 5px;
    font-family: 'AlumniSans_Medium';
    font-size: 20px;
    background-color: #000;
    color: #ffffff;
    align-content: center;
    grid-column: 2/3;
    margin-left: 80%;
}

.ubi{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 60px;
    

}

.ubi iframe{
    margin-left: 15%;
    width: 400px;
    height: 410px;
    border:0;
 
}

.datos{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.datos h2{
    font-family: 'AlumniSans_Light';
    font-size: 20px;/*tamaño de fuente*/
    color: #000000;/*color de fuente*/
}
   
.datos a{
    font-family: 'AlumniSans_Regular';
    font-size: 20px;/*tamaño de fuente*/
    color: #000000;/*color de fuente*/
    text-decoration: none;

}

                                    /*CLIENTE*/

.fondo_login{
    /*fondo*/
    background-image: url(fondos/c2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 10px auto 10px;



}

.formu_login{ 
    background: rgba(255, 255, 255, 0.671) ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 167px;
    min-height: 100vh;
    margin: 10px auto 10px;

    align-items: center;
    text-align: center;
   
    
}

.formu_login img{
    width: 275px;
    height: 75px;
    
}

.formu_login h2{
    font-family: 'Big_Shoulders_Medium';
    font-size: 20px;
    
}

.formu_login label{
    font-family: 'Big_Shoulders_Medium';
    font-size: 20px;
    
   
    
}

.olvido{
    font-family: 'Big_Shoulders_ExtraBold';
    text-decoration: none; /* Saca el subrayado de los links */
    border: none;
    background-color: #fff;
}



.formu_empleados{
    /*formulario empleados*/
    
    justify-content: center;
    align-content: center;
    /*justify-items: center;*/
    grid-column: 1/2;
    margin-left: 25%; /*corre el espacio del formulario a la derecha*/

    width: 465px;
    height: 522px;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 40px;
    
    
}

.formu_empleados input{
    border-color: #1FA0A0;
    border-radius: 20px;
    width: 292.74px;
    height: 35.37px;
  
}

.formu_empleados #ingreso1{
    background-color: #1FA0A0;
    border-color:#1FA0A0;
    border-radius: 20px;
    width: 95.19px;
    height: 32.52px;

    font-family: 'Big_Shoulders_Medium';
    font-size: 16px;
}

.formu_clientes{
    /*formulario de clientes*/
    grid-column: 2/3;
    
    align-content: center;
    margin-left: 100px;
    padding: 20px;

    width: 463px;
    height: 664px;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 40px;
}


.formu_clientes input{
     border-color: #FF7400;
    border-radius: 20px;
    width: 292.74px;
    height: 35.37px;
}


.formu_clientes .ingreso2{
    background-color: #FF7400;
    border-color: #FF7400;
    border-radius: 20px;
    width: 95.19px;
    height: 32.52px;

    font-family: 'Big_Shoulders_Medium';
    font-size: 16px;
}

.formu_clientes .registro2{
    background-color: #ED2E57;
    border-color: #ED2E57;
    border-radius: 20px;
    width: 95.19px;
    height: 32.52px;

    font-family: 'Big_Shoulders_Medium';
    font-size: 16px;

}


